@font-face {
  font-family: "Ampera";
  src: url("Ampera.ttf");
}

html {
        background: url("images/fondo.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

div.container {
    border: 0px solid;
}

header {
    padding: 0em;
    color: white;
    clear: left;
    text-align: center;
    height:180px;
    color: black;
    font: 45px Ampera;
    letter-spacing: -1px;
    border: #FFBF00 10px groove;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    background: rgba(252,234,187,1);
    background: -moz-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,0.83) 31%, rgba(248,181,0,0.78) 42%, rgba(250,213,112,0.55) 84%, rgba(251,223,147,0.55) 97%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(31%, rgba(252,205,77,0.83)), color-stop(42%, rgba(248,181,0,0.78)), color-stop(84%, rgba(250,213,112,0.55)), color-stop(97%, rgba(251,223,147,0.55)));
    background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,0.83) 31%, rgba(248,181,0,0.78) 42%, rgba(250,213,112,0.55) 84%, rgba(251,223,147,0.55) 97%);
    background: -o-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,0.83) 31%, rgba(248,181,0,0.78) 42%, rgba(250,213,112,0.55) 84%, rgba(251,223,147,0.55) 97%);
    background: -ms-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,0.83) 31%, rgba(248,181,0,0.78) 42%, rgba(250,213,112,0.55) 84%, rgba(251,223,147,0.55) 97%);
    background: linear-gradient(135deg, rgba(252,234,187,1) 0%, rgba(252,205,77,0.83) 31%, rgba(248,181,0,0.78) 42%, rgba(250,213,112,0.55) 84%, rgba(251,223,147,0.55) 97%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
}

footer {
    padding-top: 50px;
    color: white;
    clear: left;
    text-align: center;
    height:80px;
    color: black;
    font: 25px Ampera;
    letter-spacing: -1px;
    margin-top: 50px;
    border: #FFBF00 10px groove;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

nav{
            height: auto; /*Junto a overflow: hidden; aplicará a nuestro elemento nav el mismo alto que el más alto de sus elementos hijos */ 
            margin: 0 auto; /* Centro el contenedor */
            overflow: hidden;
            text-align: center;
            width: auto; /* Defino el ancho de mi página */
}

ul{
            float: left;
            list-style-type: none; /* Elimino los estilos de lista */
            padding: 0; 
}

li{
            float: left; /* Floto los li para que se dispongan horizontalmente */
}

li a{
            padding: 10px; /* El padding añadirá separación entre los elementos */
}

article {
    margin-left: 200px;
    margin-right: 200px;
    border-left: 0px solid black;
    padding: 3em;
    overflow: hidden;
    text-align: justify;
    border: #FFBF00 10px groove;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

article h1 {
    color: black;
    font: 60px Ampera;
    letter-spacing: -1px;
    text-align: center;
    text-shadow: 5px 5px 2px orange;
    text-decoration: underline;
}

article h2 {
    color: black;
    font: 35px Ampera;
    letter-spacing: -1px;
}

article p {
    color: black;
    font: 35px times;
    letter-spacing: -1px;
    text-align: justify;
}

.boton_personalizado{
   text-decoration: none;
   padding: 50px;
   font-weight: 120px;
   background-color: #F8B311;
   border-radius: 6px;
   border: 5px solid orange;
   color: black;
   font: 45px Ampera;
}

.boton_pagina{
   text-decoration: none;
   padding: 30px;
   font-weight: 180px;
   background-color: #F8B311;
   border-radius: 6px;
   border: 5px solid orange;
   color: black;
   font: 30px Ampera;
}

img {
height: 350px;
display:block;
margin:auto;
}
table {
    border-spacing: 5px;
}
th, td {
    padding: 15px;
    border-color: #FACC2E;
}
