@font-face {
  font-family: "Ampera";
  src: url("Ampera.ttf");
}

html {
        background: url("images/fondo.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

div.container {
    border: 0px solid;
}

header {
    padding: 0em;
    color: white;
    clear: left;
    text-align: center;
    height:180px;
    color: black;
    font: 45px Ampera;
    letter-spacing: -1px;
}

footer {
    padding: 0em;
    color: white;
    clear: left;
    text-align: center;
    height:80px;
    color: black;
    font: 25px Ampera;
    letter-spacing: -1px;
}

nav{
            height: auto; /*Junto a overflow: hidden; aplicará a nuestro elemento nav el mismo alto que el más alto de sus elementos hijos */ 
            margin: 0 auto; /* Centro el contenedor */
            overflow: hidden;
            text-align: center;
            width: auto; /* Defino el ancho de mi página */
}

ul{
            float: left;
            list-style-type: none; /* Elimino los estilos de lista */
            padding: 0; 
}

li{
            float: left; /* Floto los li para que se dispongan horizontalmente */
}

li a{
            padding: 10px; /* El padding añadirá separación entre los elementos */
}

article {
    margin-left: 200px;
    margin-right: 200px;
    border-left: 0px solid black;
    padding: 3em;
    overflow: hidden;
    text-align: justify;
    
}

article h1 {
    color: black;
    font: 45px Ampera;
    letter-spacing: -1px;
}

article h2 {
    color: black;
    font: 35px Ampera;
    letter-spacing: -1px;
}

article p {
    color: black;
    font: 35px times;
    letter-spacing: -1px;
    text-align: justify;
}

.boton_personalizado{
   text-decoration: none;
   padding: 50px;
   font-weight: 120px;
   background-color: #F8B311;
   border-radius: 6px;
   border: 5px solid orange;
   color: black;
   font: 45px Ampera;
}

.boton_pagina{
   text-decoration: none;
   padding: 30px;
   font-weight: 180px;
   background-color: #F8B311;
   border-radius: 6px;
   border: 5px solid orange;
   color: black;
   font: 30px Ampera;
}

img {
height: 350px;
display:block;
margin:auto;
}
table {
    border-spacing: 5px;
    border: #FFBF00 10px solid
}
th, td {
    padding: 15px;
    border-color: #FACC2E;
}
